{% extends 'Layout/layout.html'%}

  {% block title %}

  COURSE
  {% endblock  %}

  {% block content  %}



{% load static%}


<body class="bo">



   
    <img style="width: 100%;" src=" {% static 'Product/picture/010.jpg' %}" alt="">

    <center style="margin-top: 100px;margin-bottom: 100px;">
        <div>
            <center><h3 style="color: #034575;">STEM CARRER PATHWAYS</h3></center>
            <center style="width: 70%;">
                <P style="font-size: medium;font-weight: bold;">
                Career and Technical Education at our school empowers students through
                hands-on learning, specific skill-building, and a focus on careers. Through
                CTE, we aim to prepare Sci High students for the diverse futures that await
                them after graduation by supporting students in achieving Industry-Based Certifications
                 (IBCs) that give them job readiness immediately after graduating high school.
                </P>
            </CEnter>
        </div>
    </center>

    <center style="width: 100%;background-color:  rgb(230, 227, 227);height: 300px;flex-wrap: wrap;">
        <div style="display: flex;flex-wrap: wrap;justify-content: space-around;padding-top: 100px;">
    
          <center style="background-color: white;padding: 30px 20px;">

            <h3 style="color: #034575;">BIOMEDICAL</h3>
            <ul style="font-weight: bold;">
                <li>CNA+</li>
                <li>Patient Care Technician+</li>
            </ul>
            </center>

           <center  style="background-color: white;padding: 30px 20px;">

            <h3 style="color: #034575;">ENGINEERING</h3>
            <ul  style="font-weight: bold;">
                <li>Introduction Of engineering</li>
                <li>3-D Modeling</li>
            </ul>
           </center>

        <center  style="background-color: white;padding: 30px 20px;">
            
            <h3 style="color: #034575;">DIGITAL MEDIA</h3>
            <ul  style="font-weight: bold;">
                <li>Digital Media 1&2</li>
                <li>Digital Photography</li>
            </ul>
        </center>

    

        <center  style="background-color: white;padding: 30px 20px;">
            <h3 style="color: #034575;">MICR0ENTERPRISE</h3>
            <ul  style="font-weight: bold;">
                <li>Computer Applications+</li>
                <li>Finacial Literacy</li>
            </ul>
        </center>

        </div>
    </center>

    <div style="display: flex;background-color: #034575;width: 100%;padding: 50px;">
        <p  class="eco">
          OUR SCHOOL IS RANKED A 'B' BY THE LOUISIANA DEPARTMENT OF EDUCATION
         </p>
    
         <p class="mation myhover">MORE INFORMATION</p>
       </div>



       

</body>
</html>

{% endblock %}