<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="myst.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>
<body>
    <div class="menu-bar">
    
    <ul>
        <li> <a class="" href="#">home</a> </li>
        <li> <a href="#">about</a> <i class="fa fa-home"></i></li>

        <li> <a href="#">contact</a> 

            <div class="nana">

                <ul>
                    <li> <a href="#">jonathan</a></li>

                    <li class="boy"> <a href="#">adu</a>

                        <div class="nann-2">
                            <ul>
                                <li> <a href="#">perry</a></li>
                                <li> <a href="#">gaza</a></li>
                                <li> <a href="#">mcfadden</a></li>
                            </ul>

                        </div>
                    
                    </li>
                    <li> <a href="#">aboagye</a></li>

                </ul>


            </div>
        
        
        
        </li>
        <li> <a href="#">service</a></i></li>
        <li> <a href="#">client</a></li>
        <li> <a href="#">pricing</a</li>
        <li> <a href="#">investors</a></li>
    </ul>

</div>
</body>
</html>