{% extends 'Layout/layout.html'%}

  {% block title %}

  EMPLOYMENT
  {% endblock  %}

  {% block content  %}



{% load static%}



<body class="bo">



  <!-- <div id="up">
    <a href="#nav"></a> -->

  </div>

  <img style="width: 100%;" src="{% static 'Product/picture/111.jpg' %}" alt="">

  <center style="margin-bottom: 50px;margin-top: 10px;">

    <div style="width: 100%;">
      <h1 style="width: 70%;text-align: left;background-color: #999999;padding: 10px;"> CARRERS</h1>

      <p style="width: 70%;text-align: left;color: #666666;">
        Sci High is a place where every student has the opportunity and the support to pursue their
       passions in STEM. Our students do amazing things as makers, scientists, and mathematicians, and
       we know their success is all because of the professionals on our team. 
      </p>
    </div>
  </center>

 
          

        <center style="background-color: rgb(233, 230, 230);width: 100%;padding-top: 60px;padding-bottom: 100px;">

       <div style="width: 60%;text-align: left;">
  
            <h1 style="color:#034575 ; ">CURRENT OPPORTUNITIES</h1>

          <div style="margin-bottom: 60px;">

            <h2 class="employh">TEACHER-ALL SUBJECT</h2>
            <p class="employp">
               Mission New Orleans Charter Science and Mathematics High
                School is an open-admission public charter school that prepares all
                students for college admissions and successful careers. Sci Hi…
            </p>
            <p>
              
              <a class="employa" href="/read/"> READ MORE</a>
            </p>
          </div>
          

        
           <div style="margin-bottom: 60px;">

            <h2 class="employh">SPEECH LANGUAGE PATHOLOGIST - 2024-2025 
              SCHOOL YEAR</h2>
          <p  class="employp">
              Job Description OUR MISSION: New Orleans Charter Science and Mathematics
               High School (“Sci High”) is an open-admission public charter school that prepares
                all students for college…
          </p>
          <p>
          <a class="employa" href="/read/"> READ MORE</a>
        </p>
           </div>
      

          
           <div style="margin-bottom: 60px;">

            <h2 class="employh">SPECIAL EDUCATION TEACHER - 2024-2025
              SCHOOL YEAR</h2>
           <p  class="employp">
          Job Description OUR MISSION: New Orleans Charter Science and Mathematics
              High School (“Sci High”) is an open-admission public charter school
               that prepares all students for college…
          </p>
           <p>
           <a class="employa" href="/read/"> READ MORE</a>
           </p>
           </div>
          

           <div>

            <h2 class="employh">INSTUCTIONAL ASSISTANT</h2>
            <p  class="employp">Job Description OUR MISSION: New Orleans Charter Science and Mathematics High School
               (“Sci High”) is an open-admission public charter schoolthat prepares all students for college…
            </p>
            <p>
              <a  class="employa"  href="/read/"> READ MORE</a>
            </p>
           </div>
           
       </div>
           
      </center>

    <center style="width: 100%;padding-bottom: 50px;background-color: #034575;">
      <div style="display: flex;flex-wrap: wrap;justify-content: space-around;width: 70%;">
        <p class="p2">
          OUR SCHOOL IS RANKED A 'B' BY THE LOUISIANA DEPARTMENT OF EDUCATION
         </p>
    
         <p class="mation myhover"><a style="text-decoration: none;color: white;" href="index.html">
          MORE INFORMATION</a></p>
       </div>
       </div>

    </center>

        
             <!-- <p class="p2">
              OUR SCHOOL IS RANKED A 'B' BY THE LOUISIANA DEPARTMENT OF EDUCATION
             </p>
        
             <p>
              <a style="text-decoration: none;" href="employment.html">MORE INFORMATION</a>
            </p>
           -->
         
    
    
</body>

{% endblock %}