{% extends 'Layout/layout.html'%}

  {% block title %}

  GOVERNMENT
  {% endblock  %}

  {% block content  %}



{% load static%}


<body class="bo">


  <img style="width: 100%;" src=" {% static 'Product/picture/011.jpg' %}" alt="">

     <div style="width: 100%;">

        <center>
            <h1>SCHOOL GOVERVANCE</h1>
        </center>

        <center> 
            <p style="width: 60%;">
                The chartering organization for Sci High, the Advocates for Science & Mathematics Education Inc. meets 
                at the school at 4:30 pm on the third Thursday of every month. Each year the Board of Directors shall
                elect to the board, for a term of one year, the parent of a current student at New Orleans Science
                and Mathematics Charter School. Except for the term of office, the powers, duties, and responsibilities
                of the parent member shall be the same as those of all members.
            </p>
           
        </center>


       <div style="width: 100%;background: rgb(206, 205, 205);height: 300px;">
       <div style="padding-right: 200px;padding-top:30px;padding-bottom: 30px;width: 75%;flex-wrap: wrap;">

           <h1 style="background-color: white;margin-left: 100px;width: 100%;padding: 10px;;">BOARD MEMBERS</h1>
        <h1 style="background-color: white;margin-left: 100px;width: 100%;padding: 10px;">MEETING DATES</h1>
        <h1 style="background-color: white;margin-left: 100px;width: 100%;padding: 10px;">DOCUMENTATION</h1>


       </div>
       </div>

      <div style="margin-bottom: 0px;">

        <center style="background-color: #034575;height: 300px;color: white;align-content: center;;">
            <h3 style="width: 60%;letter-spacing: 1px;">
                THE PROCEDURE TO BECOME A PARENT REPRESENTATIVE ON THE ADVOCATES CHARTER BOARD OF DIRECTORS
                 CAN BE FOUND AT THE LINK PROVIDED BELOW.
            </h3>

            <p style="border: none;font-size: 700;font-weight: bold;background-color: #f7941d;width: 30%;
            padding:20px 20px;letter-spacing: 1px;"
            >PROCEDURE FOR PARENT BOARD MEMBERSHIP</p>
     
        </center>
      </div>

      <div style="width: 100%;;background-color: #DBF3FC;;">

        <center style="padding-top: 10px;color: #034575;"><h2>FINANCIAL REPORTING</h2></center>

       <div style="margin-left: 100px;align-content: center;">
        <div style="width: 75%;margin-bottom: 30px;">
            <h4 style="color: #034575;margin-bottom: 0px;">HEAD SCHOOL COMMITTEE MEETING</h4>
            <p style="margin-top: 10px;">September 12,2024</p>
        </div>

        <div style="width: 75%;">
            <h4 style="color: #034575;margin-bottom: 0px;">401K PLAN SUMMARY PLAN</h4>
            <p  style="margin-top: 10px;">October 4,2024</p>
        </div>
        
       </div>

      </div>

      <center  style="display: flex;background-color: #034575;width: 100%;flex-wrap: wrap;
      justify-content: space-around;height: 180px;align-content: center;">

        <div>
          <p  class="eco">
            OUR SCHOOL IS RANKED A 'B' BY THE LOUISIANA DEPARTMENT OF EDUCATION
           </p>
          </div>
          <div>
           <p class="mation myhover">MORE INFORMATION</p>
         </div>
       </center>
    

     </div>


</body>

{% endblock %}