{% extends 'Layout/layout.html'%}

  {% block title %}

  MEDIA
  {% endblock  %}

  {% block content  %}



{% load static%}

<body class="bo">



    <img style="width: 100%;" src=" {% static 'Product/picture/037.jpg' %}" alt="">

    <center style="width: 100%;">

        <h1 style="background-color: #dbd8d8;width: 70%;text-align: left;padding: 10px;color: #444444;">
             LIBEREY AND MEDIA CENTER </h1>

        <p style="width: 70%;text-align: left;color: #666666;">
         The Media Center, also referred to as the Library, was designed to serve students in teaching and 
         learning at the secondary level. The collection contains a plethora of print materials that aligns
         with the class curricula at Sci High. Students are encouraged to use the Library and visit often to
         complete class assignments, work on projects, and explore the world through reading. A monthly newsletter
         shares current event updates and new resources added to the collection. What follows are resource links
         to help get you started using your Library.
        </p>
    </center>

    <center style="width: 100%;">
       
        <center style="width: 70%;display: flex;flex-wrap: wrap;">
            <center style="width: 45%;text-align: left;margin-right: 50px;color: #666666;">

                <h4 style="font-weight: bolder;color: #444444;background-color: #dbd8d8;padding: 10px;">
                    INFORMATION CENTER</h4>
             <p style="margin-top: 10px;margin-bottom: 10px;"><span style="font-weight: bold;">Location</span>: Room 1004</p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                Librarian: Annie Malessia Payton, MLS, Ph.D.apayton@noscihigh.org</p>
                <p style="margin-top: 10px;margin-bottom: 10px;">240-97 46 577</p>
                <p style="margin-top: 10px;margin-bottom: 10px;"><span style="font-weight: bold;">Hours</span></p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                   <span style="font-weight: bold;"> Monday-Tuesday and Thursday-Friday 7:15am -3:30pm
                    Wednesday</span> 7:15am-12:50pm</p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                   <span style="font-weight: bold;"> CLOSED</span> for Lunch daily 11:47am -12:50pm</p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                    <span style="font-weight: bold;">Library Decorum Policy</span></p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                    Students are welcomed and encouraged to use their library. The following guidelines will
                 help to navigate using your Sci High Library</p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                     -There is <span style="font-weight: bold;"> NO FOOD</span> allowed in the Library</p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;"> 
                    -You <span style="font-weight: bold;">MUST</span>
                     have something academic to work on while in the library</p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                    -You <span style="font-weight: bold;">MUST</span> 
                    have a pass to visit the library during scheduled class tim</p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;"> 
                    -Printing is complimentary</p>
                <p style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                     <span style="font-weight: bold;">-RETURN</span> books on time or
                      <span style="font-weight: bold;"> RENEW</span></p>
            </center>
    
            <center style="width: 45%;text-align: left;color: #666666;"> 

                <h4 style="font-weight: bolder;color: #444444;background-color: #dbd8d8;padding: 10px;">
                    CHECK OUR POLICY</h4>
                <p style="margin-bottom: 10px;width: 400px;font-weight: bold;"
                >Only current registered Sci High students have checkout privileges!</p>
                <li style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                    A <span style="font-weight: bold;">maximum</span> of five (5) books may be checked out.</li>
                <li style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                    Books are checked out for two (2) weeks and may be renewed if there are no holds.
                    There are <span style="font-weight: bold;"> no late fees</span> assessed for overdue books.
                </li>
                <li style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                    All students withdrawing from Sci High must <span style="font-weight: bold;">RETURN</span>
                     all books. If a book is lost the
                 student or guardian are responsible for the book replacement cost before exiting.
                </li>
                <li style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                    All prospective <span style="font-weight: bold;">SENIORS</span> 
                    in preparation for graduation are encourage to commence
                 by <span style="font-weight: bold;">May 1st</span> 
                 of each year returning all books and clearing any lost book indebtedness.
                </li>
                <li style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                    Report cards and transcripts are withheld for un-returned and lost books.</li>
                <li style="margin-top: 10px;margin-bottom: 10px;width: 400px;">
                    Overdue notices are processed and <span style="font-weight: bold;">
                        sent monthly via email.</span></li>
              
            </center>
        </center>
    </center>


</body>
</html>

{% endblock %}