{% extends 'Layout/layout.html'%}

  {% block title %}

  ATHLETICS
  {% endblock  %}

  {% block content  %}



{% load static%}


<body class="bo">




<img width="100%" src=" {% static 'Product/picture/819.jpg' %}" alt="">


    <div miss>
       <center style="border: 1px solid width 100px;">
        <h1>MISSION</h1>
        <P style="width: 70%;">
            The New Orleans Charter Science and Mathematics High School is an open-admission
             public charter school that prepares all students for college admissions and successful
              careers. Sci High provides a rigorous high school curriculum with an emphasis in
               science and mathematics in a supportive environment of learning and respect that
             prepares students to make informed choices about post-secondary pursuits.
        </P>
       </center>
    </div>

    <div>
        <center>
            <h3>HISTROY</h3>
        <h3 style="color:#034575;">THE NEW ORLANDS CENTER FOR SCIENCE & MATHEMATICS</h3>
        <p style="width: 70%;">
            Founded in 1993 the New Orleans Center for Science & Math (SciHigh) operated as a
            half-day program within the Orleans Parish School System offering specialized
            instruction in science, math, and technology, and providing an open door to
            any interested New Orleans high school student. Students attended partner 
            schools for their other graduation requirements. The guiding principle: 
            that students with a broad range of scholastic aptitudes can master science
            and mathematics concepts and information at a high level given the proper culture,
            faculty, and school leader.
        </p>
        <p style="width: 70%;">
            Sci High students proved us right, consistently doing as well or better than 
            students in the selective Orleans Parish magnet schools, even though we were
            not selective in our admissions. They gave us evidence that even those students
            with weak academic preparation and a broad range of scholastic aptitudes can 
            master science and mathematics concepts, given a culture of high expectations
            and respect for work and one another.
        </p>
        </center>
       
    </div>

    <div>
        <center style="background-color: rgb(184, 243, 243);height: 170px; padding-top: 10px;height: 230px;">
            <h2>OUR VISON</h2>
        <P style="width: 70%;">
            Graduates from Sci High will be well grounded in the study of life sciences,
            physical sciences, and mathematics. Sci High students will lead and act with
            integrity and honesty, in all pursuits. Sci High students will lead and act
            with integrity and honesty, in all pursuits. They will be self-disciplined and
            self-directed and will work together for the support and growth of each individual
             in the school and greater community.
        </P>
        </center>
    </div>

   <center style="width: 100%;background-color:  rgb(230, 227, 227);">

    <div style="width: 100%;display: flex;flex-wrap: wrap;">
      <center style="width: 100%;margin-top: 70px;"><h1>EXPLORE NEW DEPTHS</h1></center>
  
      <center style="justify-content: space-around;display: flex;flex-wrap: wrap;width: 70%;margin-left: 15%;">

        <div style="margin-bottom: 70px;">
          <img width="300px" src=" {% static 'Product/picture/01.jpg' %}" alt="">
          <h4>STEM CARRER PATHWAYS</h4>
          <h4 class="mure" style="color: orange;border-color: orange;border: 1px solid;width: 120px;
          padding: 10px 10px;">LEARN MORE</h4>
        </div>

        <div>
          <img width="300px" src=" {% static 'Product/picture/02.jpg' %}" alt="">
          <h4>PAID INTERSHIP<h4>
            <h4 class="mure" style="color: orange;border-color: orange;border: 1px solid;width: 120px;
            padding: 10px 10px;"> LEARN MORE</h4>
        </div>

        <div>
          <img width="300px" src=" {% static 'Product/picture/03.jpg' %}" alt="">
          <h4>COLLEGE DUAL ENROLLMENT</h4>
          <h4 class="mure" style="color: orange;border-color: orange;border: 1px solid;width: 120px;
          padding: 10px 10px;"> LEARN MORE</h4>
        </div>

        <div>
          <img width="300px" src=" {% static 'Product/picture/04.jpg' %}" alt="">
          <h4>ICONIC ATHLETICS PROGRAM</h4>
          <h4 class="mure" style="color: orange;border-color: orange;border: 1px solid;width: 120px;
          padding: 10px 10px;">LEARN MORE</h4>
        </div>

        <div style="margin-bottom: 50px;">
          <img width="300px" src=" {% static 'Product/picture/05.jpg' %}" alt="">
          <h4>CHAMERED NEUTILUS</h4>
          <h4 class="mure" style="color: orange;border-color: orange;border: 1px solid;width: 120px;
          padding: 10px 10px;">LEARN MORE</h4>
        </div>


        <div>
          <img width="300px" src=" {% static 'Product/picture/06.jpg' %}" alt="">
          <h4>HEALTH CLINIC</h4>
          <h4 class="mure" style="color: orange;border-color: orange;border: 1px solid;width: 120px;
          padding: 10px 10px;">LEARN MORE</h4>
        </div>


      </center>

    </div>

   </center>
   
       <center  style="display: flex;background-color: #034575;width: 100%;flex-wrap: wrap;
       justify-content: space-around;align-content: center;;height: 180px">

        <div>
          <p  class="eco">
            OUR SCHOOL IS RANKED A 'B' BY THE LOUISIANA DEPARTMENT OF EDUCATION
           </p>
          </div>
          <div>
           <p class="mation myhover">MORE INFORMATION</p>
         </div>
       </center>
    


</body>

{% endblock %}
