{% extends 'Layout/layout.html'%}

  {% block title %}

  FAMILY
  {% endblock  %}

  {% block content  %}



{% load static%}


<body class="bo">


    
    <div style="width: 100%;display: flex;flex-wrap: wrap;">

      <center style="display: flex;flex-wrap: wrap;width: 100%;justify-content: space-around;color: #034575;">

        <center style="width: 50%;display: inline;flex-wrap: wrap;margin-right: 50px;
        font-weight: bold;margin-left: 50px;">
            <h1 style="padding-top: 0px;">SINCE FAIR VOLUNTEER FORM DECEMBER 11TH ,2024 5:00PM</h1>
           <div style="display: flex;flex-wrap: wrap;margin-top: 40px;">
            <label style="margin-bottom: 20px;" for="">NAME:</label>
            <input style="width: 800px;height: 30px;margin-bottom: 20px;" type="text" name="" id="">

            <label style="margin-bottom: 20px;" for="">EMAIL:</label>
            <input  style="width: 800px;height: 30px;" type="email" name="" id="">
           </div>
        


            <p style="text-align: left;">SET UP & REMOVAL: Setting up the venue and ensure a smooth removal 
                process post-event::</p>
            <input style="margin-right: 600px;height: 30px;width: 50px;" type="checkbox" name="" id="">
           

            
                <p style="text-align: left;">JUDGING: Be part of the team that evaluates and recognizes the outstanding
                     projects presented
                    by our talented students::</p>
                    <input  style="margin-right: 600px;;height: 30px;width: 50px;" type="checkbox" name="" id="">
            

            
                <p style="text-align: left;">CATEGORIZING PROJECTS: Help organize and categorize the projects for a seamless and enjoyable
                    experience for our participants and visitors::</p>
                    <input  style="margin-right: 600px;;height: 30px;width: 50px;" type="checkbox" name="" id="">
            

            
                <p style="text-align: left;">
                  COACHING: Share your expertise by coaching students, helping them prepare for the judging process:</p>
                <input  style="margin-right: 600px;;height: 30px;width: 50px;" type="checkbox" name="" id="">

                <div>
                  <button type="submit">submit</button>
                </div>
            
        
        </center>

        <center style="width: 40%;">
            <h1>DR.<span style="margin-left: 10px;margin-right: 10px;">JONATHAN</span> ABOAGYE</h1>
            <h3 style="font-weight: bold;color: rgb(90, 89, 89);">March 5,2011 | By Information</h3>
    
             <p style="font-weight: bold;color: rgb(90, 89, 89);;margin-top: 40px;text-align: left;">
            A native of New Orleans, Dr. Jonathan has demonstrated both a passion for science and a deep
            commitment to helping students succeed. As a self-described scientist-educator, he has over
            twenty years of experience conducting scientific research and more than ten years of experience
            teaching; implementing, and developing courses, programs, and workshops designed to increase student
            learning; improve student retention in post-secondary education; develop the instructional skill of
            teachers; and ensuring equitable access to resources for high school and college students.
            An early supporter of Sci High, her passion for Career Technical Education and STEM-focused educational 
            pursuits is unmatched.
            </p>

         <p style="font-weight: bold;color: rgb(90, 89, 89);text-align: left;">
            A graduate of Joseph S. Clark High School, Dr. Jonathan earned her B.A. in Biology and Chemistry from Pitzer
           College in Claremont, California, before returning home to Louisiana where she earned an M.S. degree 
            in Pathology from Louisiana State University and Ph.D. in Neuroscience from Tulane University.
         </p>

         <p style="font-weight: bold;color: rgb(90, 89, 89);text-align: left;">
            Prior to assuming him leadership role at Sci High, Dr. Jonathan was Assistant to the Vice-Chancellor of 
            Student Affairs/Executive Dean at Delgado Community College, in addition to serving as the administrative 
            leader in the Vice Chancellor’s absence, she designed programs to improve student retention and led
            initiatives to increase the number of high school students participating in Dual Enrollment courses at
            Delgado. While Director of the Biology Resource Center at Xavier University, Dr. Cola developed and 
            implemented programs to increase the academic success of both college and high school students studying
            biology. She also served as the first African American faculty member in Tulane University’s 
            Neuroscience Program, where she taught the Neuroanatomy Laboratory for the Neuroscience Graduate
            Program and the “Brain and Behavior” course. As a cognitive neuroscientist, Dr.Cola has done
           clinical research using Magnetic Resonance Imaging (MRI) to measure regions of the brain in Alzheimer’s
            disease (AD), stroke, and healthy controls to better understand how dysfunctions in the brain occur.
         </p>

         <p style="font-weight: bold;color: rgb(90, 89, 89);text-align: left;">
            In him work with NAPE (National Alliance for Partnerships in Equity), Dr. Colaserved as an Equity
            Instructor promoted student self-efficacy by providing professional development for faculty and
            administrators related to increasing student access and creating equitable learning environments, 
            especially in Career and Technical Education (CTE) and STEM-related careers. Her demonstrated commitment
            to active outreach and helping students reach academic and career goals has been unwavering and is
            consistent with the mission and vision of Sci High to provide a comprehensive education with a deep
            emphasis on science, technology, engineering, and math that prepares students for success in college, 
            careers, and life.
         </p>
           
        </center>

      </center>
    </div>


      
    
</body>

{% endblock %}