{% extends 'Layout/layout.html'%}

  {% block title %}

  READ
  {% endblock  %}

  {% block content  %}


{% load static%}



<body class="bo">




    <div>
        <img width="100%" src=" {% static 'Product/picture/1.jpg' %}" alt="">
    </div>

    <div style="display: flex;flex-wrap: wrap;margin-left: 200px;width: 100%;">
       
        <div style="width: 40%;">
            <h2 style="color:  #034575;"> SPECIAL EDUCATION TEACHERS - 2024-2025 SCHOOL YEAR</h2>
            <h4>Job Descripetion</h4>
            <p>
                <span style="font-weight: bold;">OUR MISSION:</span>New Orleans Charter Science 
                and Mathematics High School (“Sci High”)
                is an open-admission public charter school that prepares all students for college
                admissions and successful careers. Sci High provides a rigorous high school
                curriculum with an emphasis in science and in a supportive environment of learning
                and respect that prepares students to make informed choices about post-secondary pursuits.
            </p>
            <p>
               <span style="font-weight: bold;">POSITION OVERVIEW: </span> Sci High is currently seeking 
               an experienced and dedicated Special
                Teacher. All teachers at Sci High work to ensure the academic and social 
                growth of students through rigorous academic instruction, positive relationships with 
                students, and contributions to the Sci High school community. We are committed to a
                full-inclusion Special Education model, and our Special Education teachers are
                critical to ensuring the success of students with disabilities in the general 
                education classroom. The Special Education teachers work collaboratively with
                Diverse Learners staff and general education teachers to support students' academic
                and social learning as described and outlined in their IEPs.
            </p>
            <p>
            <span style="font-weight: bold;">QUALIFICATIONS:</span> An ideal candidate would have the following 
            experiences and qualifications:
            </p>
            <li>Experience as a Special Education teacher in an inclusion setting; </li>
            <li>Experience collaborating with both Special Education and General Education teachers; </li>
            <li>Excellent skills communicating with families and advocating for students; </li>
            <li>Bachelor's degree in related field; </li>
            <li>Masters level coursework and/or certification preferred; </li>
            <li>Skilled in working with a diverse community; </li>
            <li>Excellent spoken and written communication skills. </li>
            <li>Candidates should also have a commitment to the following beliefs: </li>
            <li>ALL students can learn and prepare themselves for college admissions and success as productive
             members of society; </li>
            <li>ALL stakeholders -- staff, teachers, students, and parents -- must agree that quality
             education is their shared responsibility; </li>
            <li>ALL stakeholders must be committed to high-quality standards and expectations of themselves
            and each other; </li>
            <li>Effective collaboration and communication are essential to the success of our school; </li>
            <p>
                <span style="font-weight: bold;">REQUIREMENTS OF WORK:</span> 
                 As a member of the Diverse Learning Team, you are expected to:
            </p>
            <p>
                <span style="font-weight: bold;">Provide Instructional Support</span>
            </p>
            <li>Accepting the belief that the inclusive setting is ultimately the most positive way 
            to instruct our students, plan and facilitate accommodations within that setting;</li>
            <li>Work with the general education co-teacher to negotiate the delivery of instruction to
             the entire group of students;</li>
            <li>Ultimately, there would be a sharing of delivery after considering the needs of the students.</li>
            <li>Meet with a general education co-teacher on a regular basis to discuss texts, assignments,
             tests, and projects well ahead of the time for implementation within the classroom;</li>
            <li>Collaborate on grades and behavior expectations for the identified students;</li>
            <li>Collaborate with classroom co-teachers to plan and meet small-group testing needs of for assigned
             students, including providing modified tests in appropriate formats;</li>
            <li>Support for students with transitions between subject-areas, grade-levels and summer programming.</li>
            <p style="font-weight: bold;">
                Maximize Access
            </p>
            <li>Collaborate with the general education co-teacher on assignments, tests, and projects
            to allow students separate access points to classroom material while maintaining the
            rigor and goals for completion of work;</li>
            <li>Keep access points as invisible as possible to preserve the dignity of students and
             the integrity of the inclusive classroom</li>
           <p style="font-weight: bold;">Manage Caseload</p>
           <li>Monitor student progress towards IEP goals and graduation;</li>
           <li>Communicate specific performance expectations to students;</li>
           <li>Help promote students’ independence, positive self-concept, social skills and 
         self-help skills.</li>
         <p style="font-weight: bold;">Ensure Compliance</p>
         <li>Ensure that documentation is maintained in compliance with district policy
         and state and federal law.</li>
        <p style="font-weight: bold;" >Stay Informed</p>
        <li>Keep abreast of new instructional and behavioral methods and techniques;</li>
        <li>Have thorough knowledge of student educational programs and behavior management guidelines.</li>
        <p><span style="font-weight: bold;">APPLICATION PROCESS:</span> Our hiring process is a rigorous one and typically includes the
         following steps:</p>
         <li>Initial phone interview</li>
         <li>Interview with current faculty members</li>
         li>Interview with administrator</li>
        <li>Reference and background check</li>


        </div>


        <div style="width: 20%;margin-left: 100px;">

        <h3 style="color: #034575;">INTERESTED IN APPLYING ?</h3>
        <P style="background-color: orange;width: 100px;padding: 10px 15px;font-weight: bold;color: white;"
        >APPLY NOW</P>
        <h3 style="color: #034575;font-weight: bold;">OTHER OPPORTUNITIES</h3>
        <h4 style="color: #034575;font-weight: bold;">TEACHER - ALL SUBJECTS</h4>
        <p>March 18,2024</p>
        <h4 style="color: #034575;font-weight: bold;">SPEECH LANGUAGE PATHOLOGIST - 2024-2025 SCHOOL YEAR</h4>
        <p>October 5,2024</p>
        <h4 style="color: #034575;font-weight: bold;">SPECIAL EDUCATION TEACHER - 2024-2025 SCHOOL YEAR</h4>
        <p>November 11,2024</p>
            

        </div>

    </div>
<center style="width: 100%;background-color: #034575;height: 200px;margin-top: 20px;">

        <h2 style="padding-top: 30px;padding-bottom: 20px;color: white;"
        >INTERESTED IN APPLYING FOR THIS POSITOIN</h2>
        <div style="background-color: orange;color: white;width: 100px;font-weight: bold;padding: 10px 15px;"
        >APPLY NOW</div>
    
</center>

 

</body>

{% endblock %}