{% extends 'Layout/layout.html'%}

  {% block title %}

  ADVOCATE
  {% endblock  %}

  {% block content  %}

{% include 'Layout/cover1.html' %}



{% load static%}

<body class="bo">

<center style=width:100%>

  <div style=color:#034575;margin-bottom:50px>
   <h1> DATE:12TH FEBRUARY 2025</h1>
   <h1> TIME:10:30 AM</h1>
   <h1> LOCATION:CONFERENCE HALL</h1>
  </div>
  <p>CHAIRPERSON OPEN THE MEETING</p>
  <p style=width:50%>Acknowledge attendance and outline the purpose: "Addressing and prioritizing pressing community
  concerns affecting our school and residents"</p>
  <ol>Review and approve minutes from the last meeting</ol>

   <h2>SCHOOL CONCERNS OVERVIEW</h2>

  <ul style=width:20%;>
    <li>Infrastructure challenges</li>
     <li>Policy or regulation changes</li>
     <li>Reporting time</li>
  </ul>


</center>

</body>


 {% endblock %}