{% extends 'Layout/layout.html'%}

  {% block title %}

  ATHLETICS
  {% endblock  %}

  {% block content  %}



{% load static%}


<body class="bo">



       <img style="width: 100%;height: 350px;" src=" {% static 'Product/picture/81.jpg' %}" alt="">
        

        
        <center style="width: 100%;">

          
          <h1 style="color:  #034575;width: 70%;text-align: left;">ATHLETICS </h1>
          <p style="width: 70%;font-size: medium;font-weight: bold;text-align: left;color: #666666;">
              Sci High's Athletic Program focuses to collaborate with parents 
              and staff to ensure our students continue to have a sports experience
              that can be rewarding for everyone. The coaches and staff are readily
              awaiting to provide our students with the best sports experience to
              help develop their skills, academic success, and continued athletic
              development.
          </p>
        </center>

        <center style="width: 100%;">

          
          <h2 style="width: 69%;text-align: left;">TEAM</h2>
          <p style="width: 67%;text-align: left;">
              The program offers 4 Junior Varsity/Varsity teams over the course
              of 2 seasons which includes Volleyball, Girls Cross Country, Boys
              Cross Country, Girls Basketball, Boys Basketball, and Softball,
              Girls Track and Field, and Boys Track and Field.
          </p>


        </center>
     
          
              
            <center  style="width: 100%;">
              <div style="width: 70%;display: flex;flex-wrap: wrap;justify-content: space-between;">

                <div>
                  <img src=" {% static 'Product/picture/91.png' %}" alt="">
                  <p style="color: #034575;font-weight: bold;">VOLLEYBALL</p>
               </div> 
                 <div>
                  <img src=" {% static 'Product/picture/92.png' %}" alt="">
                  <p style="color: #034575;font-weight: bold;">CROSS COUNTRY</p>
               </div>
                 <div>
                  <img src=" {% static 'Product/picture/93.png' %}" alt="">
                  <p style="color: #034575;font-weight: bold;">BASKETBALL</p>
               </div>

                 <div>
                  <img src=" {% static 'Product/picture/94.png' %}" alt="">
                  <p style="color: #034575;font-weight: bold;">SOFTBALL</p>
              </div>

                 <div>
                  <img src=" {% static 'Product/picture/95.png' %}" alt="">
                  <p style="color: #034575;font-weight: bold;">TRACK & FIELD</p>
              </div>

                 <div>
                  <img src=" {% static 'Product/picture/96.png' %}" alt="">
                  <p style="color: #034575;font-weight: bold;">SOCCER</p>
              </div>

            </div>

            </center>

                
          

      <center style="width: 100%;background-color: #034575;color: white;height: 300px;margin-top: 50px;">

          
              <h2 style="padding-top: 50px;">VIEW THE LATEST SCHEDULES</h2>
                 <p style="font-weight: bold;">
                  View our season guide to see this year's athletic coaches, rosters,
                      schedules, and game stats.</p>
                 <p style="width: 70px;font-size: medium ;font-weight: bold;padding: 10px 15px;background-color: orange;"
                  class="myhover"><a style="text-decoration: none;color: white;" href=
                   "https://drive.google.com/drive/folders/1TtqO842q6EVTQq8_1VyPg0WKMqEyW3Z0"
                   >VIEW</a></p>
               
              
             
           
      </center>
      
      
      </div>

      <div style="width: 100%;">
        <img style="width: 100%;" src="picture/97.png" alt="">
      </div>

     <center style="width: 100%;">


          <h3 style="background-color: rgb(180, 175, 175);
        width: 450px;padding: 10px;">GAMEDAY DETAILS</h3>
       <center style="width: 30%;">
        <p style="font-size: medium;font-weight: bold;text-align: left;">
          We are proud to invite families, students, faculty, staff, recruiters,
          and fans alike to 'The Chamber', Sci High's Gymnatorium for athletic
          events. In the sections below are details of what to expect for
          gameday's at Sci High.
        </p>

       </center>
       
        <center style="width: 20%;display: flex;flex-wrap: wrap;gap: 20px;">

        <p style="font-size: medium;font-weight: bold;">+ ENTRANCE</p>
        <p style="font-size: medium;font-weight: bold;">+ ADMISSION</p>
        <p style="font-size: medium;font-weight: bold;">+ PARKING</p>
        <p style="font-size: medium;font-weight: bold;">+ CONCESSIONS</p>
    
        </center>

      </center>
    

      <center style="width: 100%;background-color:  #DBF3FC;height: 600px;">
         
          <div style="display: flex;flex-wrap: wrap;width: 80%;justify-content: space-around;margin-top: 100px;
          ;">

           <div style="text-align: left;background-color: white;height: 350px;">

           <div style="padding-left: 20px;">
            <h2 style="color: #034575;width: 400px;">
              PROUD LOUISIANA HIGH SCHOOL ARTHETICS ASSOCIATION MEMBERS
            </h2>
           
             <p style="font-size: medium;font-weight: bold;color: #666666;">Mascot: Chambered Nautilus</p>
             <p style="font-size: medium;font-weight: bold;color: #666666;">Colors: Royal Blue and White</p>
             <p style="font-size: medium;font-weight: bold;color: #666666;">class:3A</p>
             <p class="read myhover">READ MORE</p>
           </div>
           </div>
            
           <div>
            
           <img style="width: 420px;height: 300px;" src="picture/50.png" alt="">
           </div> 
     
          </div>

        </center>

    


      <center style="background-color: #EFEFEF;width: 100%;">

    
        <div style="width: 70%;text-align: left;">

          <h2 style="margin-top: 0px;color: #034575;padding-top: 80px;margin-bottom: 40px;">
            UPDATES FROM THE CHAMBER</h2>

          <div style="margin-bottom: 30px;">
            <h3 style="margin-bottom: 10px;color: #034575">COUNTRY CROSS: JONATHAN A. RUN TO THE STATE COMPETITION</h3>
            <p style="margin-top: 0px;color: #666666;">June 30,2024</p>
          </div>

          <div style="margin-bottom: 30px;">
            <h3 style="margin-bottom: 10px;color: #034575">BOY'S BASKETBALL</h3>
            <p style="margin-top: 0px;color: #666666;">July 5,2024</p>
          </div>

          <div style="margin-bottom: 30px;color: #034575">
            <h3 style="margin-bottom: 10px;">VOLLEYBALL SCHEDULE</h3>
            <p style="margin-top: 0px;color: #666666;">July 18,2024</p>
          </div>

          <div style="margin-bottom: 30px;color: #034575">
            <h3 style="margin-bottom: 10px;">GIRL'S BASKETBALL SCHEDULE</h3>
            <p style="margin-top: 0px;color: #666666;">September 20,2024</p>
          </div>

          <div style="margin-bottom: 30px;">
            <h3 style="margin-bottom: 10px;color: #034575">BOY'S BASKETBALL</h3>
            <p style="margin-top: 0px;color: #666666;">September 27,2024</p>
          </div>

       </div>

        </center>


       
   
</body>
ss

{% endblock  %}