{% extends 'Layout/layout.html'%}

  {% block title %}

  CALENDAR
  {% endblock  %}

  {% block content  %}

<!--{% include 'Layout/cover.html' %}-->



{% load static%}


<body class="bo">


        <center style="width: 100%;;">
            
              <center style="color: #034575;margin-bottom: 50px;"><h1>SCHEDULE NOTICES</h1> </center>

              <center style="margin-bottom: 30px;">
                    <h3 style="color: #034575;">SCHEDULE UPDATE</h3>
                    <p >December 20,2023</p>
              </center>
                   
                  
              <center style="margin-bottom: 30px;">
                  <h3 style="color: #034575;" >ASYNCHRONOUS ISTRUCTION THROUTH 9/24</h3>
                  <p >September 23,2024</p>
               </center>
                    
            
              <center style="margin-bottom: 30px;">
                    <h3 style="color: #034575;">FIRE DRILL END</h3>
                    <p>October 1,2024</p>
              </center>
                    
                
              <center style="margin-bottom: 30px;">
                    <h3 style="color: #034575;">ACTIVE FIRE DRILL </h3>
                    <p >November 23,2024</p>
              </center>
                    
                
              <center>
                    <h3 style="color: #034575;">TEST SAFETY ALERT : LOCKDOWN DRILL END</h3>
                    <p >December 20,2024</p>
              </center>
                    
            
          </center>


        <center style="width: 100%;;background-color:  #034575;flex-wrap: wrap;height: 200px;">
            <h2 style="color: white;font-weight: bold;margin-top: 50px;">DOWNLOAD THE FULL SCHOOL CALENDAR HERE</h2>
            <P style="color: white;font-weight: bold;width: 100px;padding: 10px 15px;"
             class=" myhover">DOWNLOAD</P>
        </center>

     

         
</body>
</html>

{% endblock  %}