{% extends 'Layout/layout.html'%}

  {% block title %}

  CONFIDENTIAL

  {% endblock  %}

  {% block content  %}

{% include 'Layout/cover2.html' %}


{% load static%}

<body class="bo">

<center>

<h1 style=color:#034575;margin-bottom:0px>
    CONFIDENTIAL CHAT
</h1>

<p style=color:#444444;margin-top:0px;margin-bottom:20px>
January 5,2024
</p>

<p style=width:50%>
We are here to talk about the development of the school,mission and where to are heading to as a school.
Today we are here to share ideas to know how the school can achieve it dreams.This year we did well in Academics,Sports
and all the activities we took part as a school, and we need to keep on pushing to the highest level in everything.
Last year this was rank GRADE 'A' School in the world, and we need to maintain the level of performance in
every activity.
</p>

  </center>

</body>

  {% endblock %}