{% extends 'Layout/layout.html'%}

  {% block title %}
   
  CROSS
  {% endblock  %}

  {% block content  %}

{% include 'Layout/cover3.html' %}

{% load static %}

<body class="bo">

<center style="width: 100%">

    <h1 style="width: 80%;text-align:left;color:#034575;margin-bottom: 10px">
    CROSS-COUNTRY : JONATHAN ICONIC  RUNS TO STATE COMPETITION
</h1>
    <p style="margin-bottom: 50px;text-align:left;width:80%;color:#444444">March 5,2024 | By Information</p>

    <p style="width:80%;text-align:left">
        The cross-country season for this school year brought out the best in Sci High's runners.
        One senior student, in particular, accomplished so much. In February 2022, Michael ran his
        first Mardi Gras 5K race in Metairie. He enjoyed it so much that he decided to continue running.
        Tuesday, March 5, Jonathan became the first student-athlete at Sci High to qualify for state
        competition. He placed in the Top 25 in the Division III Region III competition,
        qualifying him for the state cross-country meet as an individual runner. During the Mardia
        Gras 5K in February, he finished in 27 minutes. At regionals, he ran three miles in 19 minutes
        and 12 seconds. On November 14, Michael proudly represented Sci High at the state competition
        in Natchitoches, Louisiana. He placed in the top 75 Division III runners in Louisiana,
        finishing in 19 minutes and 22 seconds despite a demanding course and frigid temperatures.
        Michael’s Cross Country Coach Wheeler said, "Long distance running requires physical strength,
        but it is also a sport that requires tremendous mental strength and perseverance.
        Michael's mental strength and fortitude have made him an exceptional runner in a short period
        of time. His growth as a runner has been extraordinary over this year." This is Dr. Wheeler’s
        second year coaching cross country at our school. Michael plans to continue running locally
        in community races. He recently won Race for the Dogs, a local race that was featured on nola.com.
        Michael is also exploring possibilities for collegiate competition.
    </p>
</center>

<!--   <img style="width: 100%;" src="{% static 'Product/picture/1100.jpg' %}" alt="">-->


</body>

 {% endblock %}