{% extends 'Layout/layout.html'%}

  {% block title %}

  ENROLL
  {% endblock  %}

  {% block content  %}



{% load static%}



<body class="bo">

    
    <img style="width: 100%;" src=" {% static 'Product/picture/018.jpg' %}" alt="">

    <div style="width: 100%;">
        <h1 style="margin-left: 160px;">ENROLLMENT</h1>
        <center>
            <p style="width: 80%;">
                The New Orleans Charter Science and Mathematics High School, Sci High, is an open-admission public
                charter school. Students are accepted through NOLA-PS' Common Application (#758), which will begin
                November 7, 2022 and continue through January 7, 2023. Our school has proven to be the #1 choice when
                it comes to N-CAP for students' future in high-wage, in-demand S.T.E.M careers. Families are invited
                to meet our host of ambassadors during middle school visits for high school, welcome field trips for
                middle school science, math, and social studies classes, shadow days, and personal tours.
            </p>
        </center>
    </div>

    <div style="width: 100%;background-color: #DBF3FC;padding-bottom: 50px;">
        <center style="padding-top: 50px;"><h1>MEET A STUDENT AMBASSADOR</h1></center>
        <center style="width: 80%;display: flex;flex-wrap: wrap;margin-left: 80px;background-color: white;
        font-weight: bold;">
            
            <div style="width: 60%;;">
                <p style="width: 50%;text-align: left">
                    Sci High’s current campus which opened in January 2021, is located in the Biomedical Corridor
                 of Midcity New Orleans. Highlights around campus include an engineering lab, makerspace, learning
                  staircase, gymnatorium, science labs, flex-space classrooms, and lecture halls.
                </p>

                <p style="width: 60%;text-align: left">
                    Sci High is intentional in providing a unique high school experience for our students. Our community
                    is a safe environment of learning and respect; we value critical thinking, making mistakes, exploration,
                    and curiosity. The administration, faculty, staff, students, and families contribute to inclusion,
                    and leadership and perform with integrity. By the same token, we also demonstrate achievement in
                     academic, and athletic competitions such as Greater New Orleans Science and Engineering Fair, L.A.
                      Film Prize Jr., U.S. First Robotics, and Lousiana State High School Athletics Association. 
                      We welcome every student in New Orleans to explore their brightest future by experiencing our 
                      high school with a campus visit
                </p>

                <p>Please note that campus visits will not happen during school closures. </p>
            </div>
            <div style="width: 30%;">
                <img style="width: 100%;height: 400px;padding-top: 20px;;" src=" {% static 'Product/picture/017.jpg' %}" alt="">
            </div>
        </center>

    </div>


    <div style="width: 100%;margin-top: 50px;">

        <center style="width: 100%;display: flex;flex-wrap: wrap;">

           <div style="width: 55%;color: #034575;margin-left: 50px;">
            <center style="width: 100%;">
                <h3>THE BRIGTHEST FUTURE IS IN STEM</h3>
                <h3>BEYOND THE TYPICAL HIGH SCHOOL EXPERIENCE</h3>
                <P style="width: 90%;">
                    Sci High students have access to courses that will help them prepare for their brightest futures
                    S.T.E.M. Our faculty and staff are committed to preparing students for post-secondary pursuits
                    through our unique, hands-on curriculum that is proven to be unmatched
                </P>
                <h3>SPECILITY PROGRAMMING INCLUDES: </h3>
                <p><li>ACT Preparation & Career Exploration</li></p>
                <p><li>Dual Enrollment</li></p>
                <p><li>Paid Internships</li></p>
                <p><li>Partnered with Microsoft TEALS, LSU STEM Pathways, NOTES</li></p>
                <p><li>Engineering, Nursing, Digital Media, and Biotechnology Courses</li></p>
            </center>
           </div>

           <center>

            <div class="and">
              <img style="width: 180px;height: 180px;" src=" {% static 'Product/picture/23.JPG' %}" alt="">
              <img style="width: 180px;height: 180px;" src=" {% static 'Product/picture/24.jpeg' %}" alt="">
              <img style="width: 180px;height: 180px;" src=" {% static 'Product/picture/34.jpg' %}" alt="">
              <img style="width: 180px;height: 180px;" src=" {% static 'Product/picture/35.jpeg' %}" alt="">
              <img style="width: 180px;height: 180px;" src=" {% static 'Product/picture/60.webp' %}" alt="">
              <img style="width: 180px;height: 180px;" src=" {% static 'Product/picture/81.jpg' %}" alt="">
              <img style="width: 180px;height: 180px;" src=" {% static 'Product/picture/61.jpg' %}" alt="">
              <img style="width: 180px;height: 180px;" src=" {% static 'Product/picture/62.jpg' %}" alt="">
              <img style="width: 180px;height: 180px;" src=" {% static 'Product/picture/17.jpg' %}" alt="">
            </div>
           </center>
           
            
        </center>
    </div>

    <div style="background-color:#DBF3FC ;margin-top: 50px;">

        <div style="padding-top: 10px;">
        <h2 style="margin-left: 130px;margin-top: 20px;color: #444444;
        background-color: rgb(189, 187, 187);width: 80%;height: 40px;padding-top: 10px;padding-left: 5px;">ENROLL</h2>
        <div style="font-weight: bold;">
            <h3 style="margin-left: 130px;color: #034575;">NOLA-PS COMMON APPLICATION</h3>
            <center style="color: #444444;;">
                <p style="width: 80%;text-align: left;">
                Sci High has no admission requirements. Students interested in attending Sci High must complete
                 NOLA-PS Common Application during enrollment rounds. This will require families to create a family 
                 profile, rank Sci High as a preference, submit an application and wait for placement results.
                 Students who are placed at Sci High will receive a notification to register by submitting the
                 required documents to the registrar. 
                </p>

                <p style="width: 80%;text-align: left">
                Families must complete NOLA-PS' Common Application to enroll at Sci High. It is recommended to
                 rank our school as the #1 school on the application to increase chances for placement at our school. 
                </p>

                <p style="width: 80%;text-align: left">
                    Assistance Available - NOLA-PS operates three Family Resource Centers (FRC) to assist families enrolling
                    in NOLA-PS schools and early childhood programs. Our centers are conveniently located across the city and 
                    open for walk-in support Monday-Friday from 8:30am to 3:00 pm. Family support is available via email at 
                    enroll@nolapublicschools.com or families can leave a message at 1-877-343-4773.
                </p>

                <p style="width: 80%;">
                    Source: https://enrollnolaps.com/family-support/ </span>(November 2022)
                </p>

            </center>
        </div>

    </div>

    </div>



    
</body>

{% endblock %}