{% extends 'Layout/layout.html'%}

  {% block title %}

  FAMILY
  {% endblock  %}

  {% block content  %}



{% load static%}


<body class="bo">



    <img style="width: 100%;" src=" {% static 'Product/picture/033.jpg' %}" alt="">
    
    <center style="width: 100%;">
        <div>
            <h1 style="color: #034575;">SCI HIGH FAMILIES</h1>
            <p style="text-align: left;width: 70%;color: #666666;;">
                Sci High values the engagement of every student's family member. We seek to encourage family
                 involvement on campus because their commitment and participation are extremely valuable to
                 the success of Sci High. Every family's involvement in our community plays a vital role in 
                 our ability to maintain a strong, supportive environment for learning.
            </p>
        </div>
    </center>

    <center style="width: 100%;">
        <div style="padding-top: 50px;padding-bottom: 50px;">
      
          
          <div style="width: 70%;background-color: #034575 ;" >
              <h2 style="text-align: left;color: white;padding: 10px;"><span style="font-size: larger;font-weight: bolder;
              ">+</span> POWERSCHOOL</h2>
          </div>
      
          <div style="width: 70%;;background-color:#034575;">
              <h2 style="text-align: left;color: white;padding: 10px"><span style="font-size: larger;font-weight: bolder;">+
           </span> KICKBOARD</h2>
          </div>
      
          <div style="width: 70%;;background-color:#034575;;">
           <h2 style="text-align: left;color: white;padding: 10px"> <span style="font-size: larger;font-weight: bolder;">+
           </span> TRANSCRIPT REQUEST</h2>
          </div>
        </div>
      
         </center>

         <center style="width: 100%;background-color: #EFEFEF;">

          <div style="width: 70%;padding-top: 50PX;">

            <h4 style="text-align: left;color: #034575;">FAMILY & VISITORS VOLUNTEER FORM</h4>

            <p style="text-align: left;color: #666666;">
            All visitors must check-in at the Security Desk. Visitors must present a valid driver's license 
            and be processed through the Ident A Kid system. Once the process is completed, a visitor’s pass will
            be issued and the person must wear it until they leave the campus. They must check out using the Ident
          A Kid system and return the badge to the security officer. All school volunteers must follow the legally
           mandated requirements to ensure the safety of our students. Each volunteer must submit a Criminal
            Background Check filed in Orleans parish, no matter the event or length of volunteer time.
        </p>

          </div>

          <center style="padding-bottom: 50px;">
            <p style="background-color:  #F7941D;width: 180px;color: white;padding: 10px;font-weight: bold;">
                VOLUNTEER FORM</p>

         </center>
    
         </center>

         <center style="width: 100%;background-color: #034575;color: white;">

            <div style="padding-top: 50px;">
                <h3 style="font-size: large;font-weight: bold;">SCHOOL COMMUNICATION</h3>
            </div>

            <div>
                <p style="font-size: xx-large;font-weight: bolder;">SEND 'YES' TO 1111</p>
            </div>

            <div style="width: 60%;padding-bottom: 50px;">
                <p style="font-size: medium;font-weight: bold;">
                    Our school utilizes the SchoolMessenger system to deliver text messages, straight to
                 your mobile phone with important information about events, school closings, safety alerts,
                 and more. SchoolMessenger is compliant with the Student Privacy Pledge, so you can rest assured
                 that your information is safe and will never be given or sold to anyone.
                </p>
            </div>
            
         </center>

         <center style="width: 100%;color: #034575;">

            <h2  style="text-align: left;width: 70%;margin-bottom: 40px;">FAMILY NOTICE</h2>

            <div style="text-align: left;width: 70%;margin-bottom: 30px;">
                <h3 style="margin-bottom: 10px;">P-EBT BENEFITS UPDATE</h3>
                <p style="color: #666666;margin-top: 0px;">March 11,2024</p>
            </div>

            <div  style="text-align: left;width: 70%;;margin-bottom: 30px;">
                <h3 style="margin-bottom: 10px;">NOLA PUBLIC SCHOOLS TO SHIFT STUDENTS TO DISTANCE LEARNING</h3>
                <p  style="color: #666666;margin-top: 0px;">July 7,2024</p>
            </div>

            <div  style="text-align: left;width: 70%;;margin-bottom: 30px;">
                <h3 style="margin-bottom: 10px;">FAMILY COUNCIL MEETING</h3>
                <p  style="color: #666666;margin-top: 0px;">September 30,2024</p>
            </div>

         </center>



        
    
        
</body>

{% endblock %}