
{% extends 'Layout/layout.html'%}

  {% block title %}
   
  HOME
  {% endblock  %}

  {% block content  %}

{% include 'Layout/cover.html' %}

    

{% load static%}

<body class="bo">

  <center style="width: 100%; ">

   <center>
     <h2 style="color: #034575;">UPCOMING EVENT</h2>
   </center>
   
   <center style="display: flex;justify-content: space-around;flex-wrap: wrap;">
       {% for data in keyInBoard %}

     <center>
        <img style="width: 150px;" src=" {% static 'Product/picture/200.png' %}" alt="">
       <h4 style="color: #034575";>ADVOCATES BOARD MEETING</h4>
     </center>
     
     <center>
       <img style="width: 201px;" src=" {% static 'Product/picture/22.jpg' %}" alt="">
       <h4 style="color: #034575;">S.T.E.P JUNETEENTH NO SCHOOL</h4>
     </center>

     <center>
       <img style="width: 230px;" src=" {% static 'Product/picture/20.jpg' %}" alt="">
       <h4 style="color: #034575;">FRESHMEN ORIENTATION</h4>
     </center>

       {% endfor %}

   </center>

  </center>


  <div style="width: 100%;">

   <center style="width: 100%;justify-content: space-around;display: flex;flex-wrap: wrap;">

     <center>
       <h2 style="color: #034575;margin-bottom: 50px;" >#STAYINGAME</h2>
         <div class="grid">

           {% for data in keyInView %}
           <img style="width: 150px;height:150px;" src="{{ data.image.url }}" alt="">
             {% endfor %}

       </div>


       <p class="insta myhover"> <a style="text-decoration: none;color: white;" href=
         "https://www.instagram.com/jonathan_iconic?igsh=amY5ZnV6eWRyb3py&utm_source=qr"
         >INSTAGRAM</a></p>
     </center>

     <center>
       <h2  style="color: #034575;margin-bottom: 50px;text-align: left;"> NEWS ROOM </h2>
       <div style="margin-bottom: 50px;">

         <center style="text-align: left;margin-bottom: 30px;">
           <h3 style="color: #034575;margin-bottom: 10px;">CHAMBER CHAT</h3>
         <p style="color: #666666;margin-top: 0px;">January 5,2024</p>
         </center>
   
         <center  style="text-align: left;;margin-bottom: 30px;">
           <h3 style="color: #034575;;margin-bottom: 10px;">ADVOCATES BOARD MEETING</h3>
           <p  style="color: #666666;margin-top: 0px;">March 19,2024</p>
         </center>
   
         <center  style="text-align: left;;margin-bottom: 30px;">
           <h3 style="color: #034575;;margin-bottom: 10px;">SCIENCE FAIR 2023 RESULTS</h3>
         <p  style="color: #666666;margin-top: 0px;">June 8,2024</p>
         </center>
   
         <center  style="text-align: left;;margin-bottom: 30px;">
           <h3 style="color: #034575;;margin-bottom: 10px;">COVID TESTNG</h3>
         <p  style="color: #666666;margin-top: 0px;">October 2,2024</p>
         </center>
   
         <center  style="text-align: left;;margin-bottom: 30px;">
           <h3 style="color: #034575;;margin-bottom: 10px;">PROCEDURE FOR PARENT BOARD MEETING</h3>
         <p  style="color: #666666;margin-top: 0px;">November 24,2024</p>
           </center>

       </div>
        
       <p  class="news myhover"> <a style="text-decoration: none;
         color: white;"
           href="more.html">
          MORE NEWS</a>
         </p> 
     </center>

   </center>


  </div>
     
     

       
       <!-- class="fair" -->

 
         <!-- class="room" -->


           <center style="width: 100%;display: flex;flex-wrap: wrap;justify-content: space-around;">

            <div style="width: 50%;">
             <h1 style="color: #444444;width: 50%;text-align: left;">WHERE INNOVATION MEETS DETERMINATION</h1>

             <h2  style="color: #01416f;font-weight: bold;text-align: left;width: 50%;";>SINCE 1992</h2>

             <p style="color: #666666;text-align: left;width: 50%;">
               The Center for Science & Mathematics at began at Delgado's Campus in 1993; 
               post-Hurricane Katrina (2005) became The New Orleans Charter Science & Mathematics High School.
             </p>

             <p  style="color: #666666;width: 50%;;text-align: left">
               In 2021 Sci High moved to its new facility at Bienville St. that houses our current operations.</p>

             <p  style="color: #666666;width: 50%;;text-align: left">
               Sci High graduates in 2022 had a 100% college acceptance rate andearned credentials in science, technology,
               engineering, and mathematics fields that will make them higher wages than other graduates without 
               credentials.</p>


               <p class="mor myhover"><a style="text-decoration: none;" href="mission.html">MORE</a></p>
             

            </div>

             <div>
               <img style="height: 500px;width: 400px;"
              src=" {% static 'Product/picture/19.jpg' %}" alt="">
             </div>

           </center>

     
      
   
               


  </div>
  
 <form action="" style="background-color: rgb(210, 241, 241);width: 100%;">
   <center><h1>CONTACT US</h1></center>
  <center>
   <div style="margin-right: 37%;"> <label for="name">Name :</label></div>
   <input style="width: 40%;height: 30px;margin-top: 20px;margin-bottom: 20px;border: 1px solid"
    type="text"
    name="name" id="" placeholder="Your Name">

   <div style="margin-right: 37%;"><label for="email">Email</label></div>
   <input style="width: 40%;height: 30px;margin-bottom: 20px;margin-top: 20px;border: 1px solid"
    type="email" name="email" id="" placeholder="Email">

  <div style="margin-right: 37%;"> <label for="phone">Phone</label></div>
   <input style="width: 40%;height: 30px;margin-bottom: 20px;margin-top: 20px;border: 1px solid;" 
   type="tel" name="phone" id="">

    <div style="margin-right: 37%;"><label for="">Reason</label></div>
    <select style="width: 40%;;height: 50px;margin-bottom: 20px;margin-top: 20px;color: #666666;border: 1px solid;"
    name="" id="Reason">
     <option value="General">General</option>
     <option value="Academics">Academics</option>
     <option value="Current Students">Current Students</option>
     <option value="Parent Board Representative">Parent Board Representative</option>
     <option value="Other">Other</option>




    </select>

  </div>
  <div style="margin-right: 32%;">
   <label for="comment/Question:">comment/Question:</label>
 </div>

 <input style="width: 40%;height: 100px;margin-top: 20px;border: 1px solid" type="text" name="" id="">
<div>
 <input style="color:white;background-color:  #F7941D;margin-bottom: 30px;font-weight: bold;" 
 class="sub myhover" type="submit" value="submit">
</div>
</center>
  
   </form>

   <div style=" background-color: #034575;width: 100%;
   padding-top: 80px;margin-top: 10px;display: flex;flex-wrap: wrap;margin-bottom: 20px;">

   <center style="width: 100%;margin-bottom: 100px;">

     <p class="p1">
       SCI HIGH WELCOMES ANY STUDENT IN NEW ORLEANS 
       INTERESTED IN EXPLORING THE FIELDS OF SCIENCE, TECHNOLOGY,
        ENGINEERING, AND MATH.
    </p>
   </center>

   <center style="width: 100%;padding-bottom: 50px;">
     <div style="display: flex;flex-wrap: wrap;justify-content: space-around;width: 70%;">
       <p class="p2">
         OUR SCHOOL IS RANKED A 'B' BY THE LOUISIANA DEPARTMENT OF EDUCATION
        </p>
   
        <p class="mation myhover"><a style="text-decoration: none;color: white;" href="index.html">
         MORE INFORMATION</a></p>
      </div>

   </center>
    

 
    
   </div>

   <div style="width: 100%; background-color: #034575;color: white;;">

   <center >
     <div style="width: 70%;display: flex;flex-wrap: wrap;justify-content: space-around;margin-top: 20px;">
       <p>test</p>
       <p>MISSION</p>
     </div>

   </center>

   <center>

     <p style="width: 60%;font-size: medium;font-weight: bold;margin-bottom: 100px;text-align: left;">
       The New Orleans Charter Science and Mathematics High School is an open-admission public charter school that
        prepares all students for college admissions and successful careers.  Sci High provides a rigorous high school
        curriculum with an emphasis in science and mathematics in a supportive environment of learning and respect that prepares
        students to make informed choices about post-secondary pursuits.
     </p>
   </center>

   <center>
    
     <div style="margin-bottom: 60px;">
       <a style="text-decoration:none ;color: white;font-size: large;font-weight: bold;;" 
        href="Advocates for Science and Mathematics Education FY23-24 Operating Budget">
        Advocates for Science and Mathematics Education FY23-24 Operating Budget
      </a>
      </div>

   </center>

 
 </div>
 
</body>
</html>
 

{% endblock  %}



