{% extends 'Layout/layout.html'%}

  {% block title %}

  SERVICE
  {% endblock  %}

  {% block content  %}



{% load static%}


<body class="bo">
  
   
    
    <center style="width: 100%;">

        <div style="width: 60%;color: #01416F;">
            <h1>SPECIAL SERVICE AND INDIVIDUAL ACCOMENDATION PLAN SERVICE</h1>
        </div>

        <div style="width: 65%;color: #666666;">
            <p>
                Here at Sci High, we welcome all students and meet their various needs with a continuum of support.
             As an open-enrollment high school, we encourage all of our students to access as much school programming
              as they are comfortable with including AP, Honors, and Project Lead the Way classes.
            </p>
        </div>
    </center>
           


    <center style="width: 100%;">
        <center style="display: flex;flex-wrap: wrap;width: 80%;justify-content: space-between;">


         <div>
            <div>
                <h3 style="color: #01416F;">FULL INCLUSION</h3>
                    <P style="width: 400px;;color: #666666;">
                    We support our students with IEPs in the general education classroom (when appropriate), and we do so
                    with a dynamic combination of Special Education teachers and Instructional Assistants.
                    </P>
            </div>
            <div>
                <h3 style="color: #01416F;">RESOURCES</h3>
                    <p style="width: 400px;;color: #666666;">
                    When students need support outside of the academic classes, we offer access to study skills,
                    which provides a place in the school day for students to work with a Special Education Teacher
                    on classwork, projects, homework and other academic needs. We also offer the Great Space, an outlet
                    for students to learn and practice social emotional skills to become more successful students.
                    We recognize that there are times when students need breaks to process thoughts and emotions and
                    we provide a safe space to do that.
                       </p>
            </div>
          </div>

            <div><img src=" {% static 'Product/picture/019.jpg' %}" alt=""></div>
        </center>
    </center>

    <center style="width: 100%;">
        <center style="display: flex;flex-wrap: wrap;width: 80%;justify-content: space-between;">

            <div><img src=" {% static 'product/picture/020.jpg' %}" alt=""></div>
         <div>
            <div>
                <h3 style="color: #01416F;">TRANSITIONS</h3>
                <p style="width: 450px;color: #666666;font-weight: bold;">
                 We provide Transitions classes that prepare our students for life after high school.
                  Lessons and activities range from financial literacy to self-advocacy. At each grade level
                   we work on skills to help our students achieve independence.
                </p>
            </div>
            <div>
                <h3 style="color: #01416F;">RELATED SERVICES</h3>
                <p style="width: 450px;color: #666666;font-weight: bold;">
                Our related service providers are itinerant and provide services during the school day.
                 Related services include Speech, Occupational Therapy, Physical Therapy, Adapted PE, and any 
                 other services for which a student qualifies.
                </p>
            </div>
          </div>
        </center>
    </center>

    <div style="width: 100%;background-color: #EFEFEF;">

        <div class="service" style="width: 70%;margin-left: 100px;padding-top: 50px;padding-bottom: 100px;">
    
            <h1 style="color: #01416F;margin-bottom: 50px;">POLICIES & DOCUMENTATION</h1>

            <div style="margin-bottom: 40px;">
                <h3 style="color: #01416F;">ENROLLMENT DISCRIMINATION POLICY GUIDENCE</h3>
                <p style="color: #666666;">Last Updated April 7,2024</p>
            </div>

            <div  style="margin-bottom: 40px;">
                <h3 style="color: #01416F;">UNDOCUMENTED SUSPENSION GUIDENCE</h3>
                <p  style="color: #666666;">Last Updated June 4,2024</p>
            </div>

            <div style="margin-bottom: 40px;">
                <h3 style="color: #01416F;">PARENT FAQS SPECIAL EDUCATION IN CHARTER SCHOOL</h3>
                <p  style="color: #666666;">Last Updated June 23,2024</p>
            </div>

            <div  style="margin-bottom: 40px;">
                <h3 style="color: #01416F;">DISCRIMINATION POLICY</h3>
                <p  style="color: #666666;">Last Updated July 1,2024</p>
            </div>

            <div style="margin-bottom: 40px;">
                <h3 style="color: #01416F;">CHILD FIND WRITTEN GUIDENCE</h3>
                <p  style="color: #666666;">Last Updated July 24,2024</p>
            </div>

            <div style="margin-bottom: 40px;">
                <h3 style="color: #01416F;">DISCIPLINE POLICY & PROCEDURES FOR STUDENTS WITH DISABILITIES</h3>
                <p  style="color: #666666;">Last Updated Augest 2,2024</p>
            </div>

            <div style="margin-bottom: 40px;">
                <h3 style="color: #01416F;">COMPLAINT PROCEDURES</h3>
                <p  style="color: #666666;">Last Updated September 30,2024</p>
            </div>

            <div style="margin-bottom: 40px;">
                <h3 style="color: #01416F;">NOLA PUBLIC SCHOOLS SPECIAL EDUCATION PROGRAM DESCRIPTION</h3>
                <p  style="color: #666666;">Last Updated October 5,2024</p>
            </div>

            <div style="margin-bottom: 40px;">
                <h3 style="color: #01416F;">SCHOOL MASTERS PLAN FOR DISCIPLINE</h3>
                <p  style="color: #666666;">Last Updated December 11,2024</p>
            </div>


        </div>
        
           
    </div>

    
</body>
{% endblock %}}