{% extends 'Layout/layout.html'%}

  {% block title %}

  HOME
  {% endblock  %}

  {% block content  %}

{% include 'Layout/cover.html' %}

{% load static%}

<body class="bo">

<center style="width:100%">

    <h1>
    2024 - 2025 SEASON SCHEDULES
</h1>

<table >
    <tr>
        <th>DATE</th>
        <th>TIME</th>
        <th>OPPONENT</th>
        <th>LOCATION</th>
    </tr>


    <tr>
        <td>23/02/2025</td>
         <td>11:00 AM</td>
         <td>KUMASI HIGH</td>
         <td>AWAY</td>
    </tr>

    <tr>
         <td>02/04/2025</td>
         <td>10:00 AM</td>
         <td>TOSS</td>
         <td>HOME</td>
    </tr>

     <tr>
         <td>05/05/2025</td>
         <td>10:00 AM</td>
         <td>KOSS</td>
         <td>HOME</td>
    </tr>

     <tr>
         <td>01/08/2025</td>
         <td>12:00 PM</td>
         <td>OWASS</td>
         <td>AWAY</td>
    </tr>

     <tr>
         <td>11/08/2025</td>
         <td>9:00 AM</td>
         <td>MIGHTY</td>
         <td>HOME</td>
    </tr>
</table>
</center>

</body>

 {% endblock %}