
{% load static %}

  <header class="heade">

    <div style="margin-top: 30px;margin-left: 50px;">
      <img style="width: 200px;" src="{% static 'Product/picture/logo.svg' %}" alt="">
    </div>

    <nav class="nab">

      <div class="nab1">

          <li> <a href="/"> COMMUNITY ▼</a>

            <div class="ani">


              <ul>
                <div>
                  <li>
                    <a style="color: white;font-size:medium;font-weight: bolder;" href="/chamb/"> Alumni</a>

                 </li>
               </div>
               </ul>


               <ul>
                <div>
                  <li>
                  <a style="color: white;font-size:medium;font-weight: bolder;" href="/family/"> Family Memebers</a>
                 </li>
               </div>
               </ul>


               <ul>
                <div>
                  <li>
                    <a style="color: white;font-size:medium;font-weight: bolder;" href="">Faculty & Staff</a>

                 </li>
               </div>


               </ul>


            </div>



          </li>

          <li> <a href="/athletics/">ATHLETICS</a></li>
          <li> <a href="/calendar/">CALENDAR</a></li>
         <li> <a href="/employment/">EMPLOYMENT</a></li>
         <li > <a href="">TRANSILATE</a></li>



        </div>

      <div class="nab2">


        <div class="nab2a">

          <li> <a class="active" href="/about/">ABOUT</a>


            <div class="nana">

              <ul style="display: flex;flex-wrap: wrap;background-color: white;">
                 <div style="color: #034575;">
                  <li> <a href="/mission/"> <img style="width: 300px;" src="
                  {% static 'Product/picture/17.jpg' %}" alt=""></a></li>
                  <h3  style="margin-left: 30px;">ABOUT US</h3>
                  <P style="width: 300px;margin-left: 30px;">Sci High is an open-enrollment, S.T.E.M, public charter school.</P>
                 </div>

                 <div style="color: #034575;">
                  <li> <a href="/post/"> <img style="width: 300px;height: 200px;" src="
                  {% static 'Product/picture/22.jpg' %}" alt=""></a></li>
                  <h3  style="margin-left: 30px;">HEAD OF SCHHOL</h3>
                  <P style="width: 300px;margin-left: 30px;">
                    Learn more about Dr.Jonathan Aboagye,our head of scchool
                  </P>
                 </div>

                 <div style="color: #034575;">
                  <li><a href="/gov/"> <img style="width: 300px;" src="
                  {% static 'Product/picture/18.jpg' %}" alt=""></a></li>
                  <h3 style="margin-left: 30px;">SCHHOL GOVERNANCE</h3>
                 </div>


              </ul>

            </div>


          </li>

          <li style="color: #F7941D;">/</li>

          <li> <a class="active" href="">ACADEMICS</a>

            <div class="nana4">

              <ul style="display: flex;flex-wrap: wrap;background-color: white;height: 300px;">
                 <div style="color: #034575;">
                  <li> <a href="https://docs.google.com/document/d/1BJwRqWTfnax9hn2snX5_plJUkxFDMUw-p1k8vmZIYuQ/edit">
                     <img style="width: 300px;" src="{% static 'Product/picture/023.jpg' %}" alt=""></a></li>
                  <h3  style="margin-left: 30px;">GUIDENCE</h3>

                 </div>

                 <div style="color: #034575;">
                  <li> <a href="/enroll/"> <img style="width: 300px;height: 150px;" src="
                  {% static 'Product/picture/022.png' %}" alt=""></a></li>
                  <h3  style="margin-left: 30px;">CARRER SUCCESS</h3>

                 </div>

                 <div style="color: #034575;">
                  <li><a href="/service/"> <img style="width: 300px;" src="
                  {% static 'Product/picture/021.png' %}" alt=""></a></li>
                  <h3 style="margin-left: 30px;">STUDENT SUPPORT</h3>
                 </div>


              </ul>

            </div>

          </li>
          <li style="color: #F7941D;">/</li>

          <li> <a class="active" href="/">ENROLLMENT</a>


            <div class="nana2">

              <ul style="display: flex;flex-wrap: wrap;background-color: white;height: 300px;">
                 <div style="color: #034575;">
                  <li> <a href="/enroll/">
                     <img style="width: 300px;" src=" {% static 'Product/picture/025.png' %}" alt=""></a></li>
                  <h3  style="margin-left: 30px;">INQUIRE</h3>
                  <p style="width: 300px;">
                    Learn more about our school and how students can take advantage of a future in S.T.E.M.</p>

                 </div>

                 <div style="color: #034575;">
                  <li> <a href="/register/"> <img style="width: 300px;height: 150px;" src="
                  {% static 'Product/picture/024.png' %}" alt=""></a></li>
                  <h3  style="margin-left: 30px;">REGISTER</h3>

                 </div>

                 <div style="color: #034575;">
                  <li><a href="/register/"> <img style="width: 300px;" src="
                  {% static 'Product/picture/026.jpg' %}" alt=""></a></li>
                  <h3 style="margin-left: 30px;">STUDENT SUPPORT</h3>
                 </div>


              </ul>

            </div>

          </li>
          <li style="color: #F7941D;">/</li>

          <li> <a class="active" href="/">CURRENT STUDENT</a>

            <div class="nana3">

              <ul style="display: flex;flex-wrap: wrap;background-color: white;height: 400px;">
                 <div style="color: #034575;">
                  <li> <a href="/enroll/">
                     <img style="width: 300px;" src="{% static 'Product/picture/026.png' %}" alt=""></a></li>
                  <h3>ON CAMPUS</h3>
                 <p> <a style="color: #034575;" href="/dining/">Dining Common Menus</a> </p>
                  <p> <a style="color: #034575;" href="/media/">Media & Library Cneter</a> </p>
                  <p>Schhol - Based Health Center </p>
                  <p>The Chamber Gymnatorium  </p>


                 </div>

                 <div style="color: #034575;">
                  <li> <a href="/register/"> <img style="width: 300px;" src="
                  {% static 'Product/picture/027.png' %}" alt=""></a></li>
                  <h3>STUDENTS SERVICE</h3>
                  <p>Families & Students Handbook </p>
                  <p>Kickboard Behaviour Reports </p>
                  <p>Power Schhol Guild Reports </p>
                  <p>Bullying Reports Form </p>

                 </div>

                 <div style="color: #034575;">
                  <li><a href="/register/"> <img style="width: 300px;" src="
                  {% static 'Product/picture/028.png' %}" alt=""></a></li>
                  <h3>RESOURCES</h3>
                  <p> <a style="color: #034575;" href="/schedules/">Daily Schedules</a> </p>
                  <p>calendar </p>
                  <p>Homework Help </p>
                  <p>Tansportation </p>
                  <p>Uniforms </p>


                 </div>



              </ul>

            </div>

          </li>

        </div>

        <div class="mag">
          <a href="https://facebook.com/jonathan.iconic.3"> <img src="
          {% static 'Product/picture/41.png' %}" alt=""></a>
           <a href="https://www.instagram.com/jonathan_iconic?igsh=amY5ZnV6eWRyb3py&utm_source=qr">
          <img  src=" {% static 'Product/picture/42.png' %}" alt=""></a>
          <img src=" {% static 'Product/picture/43.png' %}" alt="">
          <a href="https://www.youtube.com/channel/UCZjakUuTTLRhVMDNe9sg_eg"> <img src="
          {% static 'Product/picture/45.png' %}" alt=""></a>
        </div>

        <div class="doh">
          <a style="text-decoration: none;" href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E94400&id=1">
            <p  style="background-color: #F7941D;padding: 16px 34px">
            DONATE</p></a>
        </div>

          {% if request.user.is_superuser or request.user.is_staff %}
<a href="{% url 'admin' %}">AdminPage</a>
{% endif %}

{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<!--<p>{{key}}</p>-->
<a href="{% url 'logout' %}">Logout</a>

{% else %}
<a href="{% url 'login' %}">login</a>
{% endif %}


      </div>
    </nav>
  </header>